@model Nord_X_WebApp.Data.Entities.MeasurementType

@{
    ViewData["Title"] = "Detaljer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaljer</h1>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><span class="btn btn-primary">Rediger</span></a>
    <a asp-action="Index"><span class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Tilbage</span></a>
</div>
